<!DOCTYPE html>
<html>
<head>
    <title>InteriorCraft</title>
    <link rel="stylesheet" href="'css/base.css">
    {% block extra_css %}{% endblock %}
</head>
<body>

<!-- TOPBAR -->
<div class="topbar">
    <div class="logo">InteriorCraft</div>

    <div class="nav-links">
        <a href="main_routes.home">Home</a>
        <a href="'main_routes.catalog">Catalog</a>
        <a href="'main_routes.dashboard">Dashboard</a>
        <a href="main_routes.my_designs">My Designs</a>
        <a href="/cart">Cart</a>
        <a href="main_routes.about">About</a>
        <a href="main_routes.logout">Logout</a>
    </div>
</div>

<!-- PAGE CONTENT -->
<div class="page-content">
    {% block content %}{% endblock %}
</div>

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

</body>
</html>
